$grid-columns: 24;            
$grid-width: rem(1170);         
$column-width: 1.709404%;      
$column-margin: 2.5641%;

$breakpoints: 0 $small $medium $large $xlarge;
$breakpoint-alias: base small medium large xlarge;
$current-breakpoint: 1;

.grid {
    float: left;
    clear: both;
    width: 100%;
}
.row {
    max-width: $grid-width;
    margin: 0 auto;
    padding: 0 $spacing-small;   
    @include box-sizing(content-box);
    &:after {
        @include clear-fix;
        content: ' ';
    }
}
.col {
    float: left;
    display: inline;
    width: 100%;
    margin: 0 $column-margin 0 0;
    @for $i from 1 through $grid-columns {
        &.base-#{$i} {
            width: ($column-width * $i) + ($column-margin * ($i - 1));
        }
    }
    &:last-child {
        margin-right: 0 !important;
    }
}
@each $breakpoint in $breakpoints {
    $slug: nth($breakpoint-alias, $current-breakpoint);
    @if $current-breakpoint == 1 {        
        .row {    
            padding: 0 rem(10 * $current-breakpoint);        
        }
        .col {
            @for $i from 1 through $grid-columns {
                &.#{$slug}-#{$i} {
                    width: ($column-width * $i) + ($column-margin * ($i - 1));
                }
            }
        }   
        @for $i from 0 through ($grid-columns - 1) {
            .#{$slug}-push-#{$i} {
                margin-left: ($column-width * $i) + ($column-margin * $i);
            }
        }        
        .#{$slug}-show {
            display: block;
        }
        .#{$slug}-hide {
            display: none;
        }   
    } @else {
        @media all and (min-width: $breakpoint) {             
            .row {    
                padding: 0 rem(10 * $current-breakpoint);        
            }
            .col {
                @for $i from 1 through $grid-columns {
                    &.#{$slug}-#{$i} {
                        width: ($column-width * $i) + ($column-margin * ($i - 1));
                    }
                }
            }    
            @for $i from 0 through ($grid-columns - 1) {
                .#{$slug}-push-#{$i} {
                    margin-left: ($column-width * $i) + ($column-margin * $i);
                }
            }           
            .#{$slug}-show {
                display: block;
            }
            .#{$slug}-hide {
                display: none;
            }    
        }
    }
    $current-breakpoint: $current-breakpoint + 1;
}