body {
	font-family: $font-primary;
	font-weight: 100;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, li {
	&.white {
		color: $color-white;
	}
}

h1 {
	margin-bottom: rem(30);	
	font-family: $font-primary;
	font-size: rem(40);
	line-height: rem(50);
	color: $color-grey-dark;
}
h2 {
	margin-bottom: rem(25);	
	font-family: $font-primary;
	font-size: rem(30);
	line-height: rem(40);
	color: $color-grey-dark;
}
h3 {
	margin-bottom: rem(20);	
	font-family: $font-primary;
	font-size: rem(25);
	line-height: rem(30);
	color: $color-grey-dark;
}
h4 {
	margin-bottom: rem(20);	
	font-family: $font-primary;
	font-size: rem(20);
	line-height: rem(25);
	color: $color-grey-dark;
}
h5 {
	margin-bottom: rem(20);	
	font-family: $font-primary;
	font-size: rem(18);
	line-height: rem(23);
	color: $color-grey-dark;
}
h6 {
	margin-bottom: rem(20);	
	font-family: $font-primary;
	font-size: rem(16);
	line-height: rem(21);
	color: $color-grey-dark;
}
p {
	margin-bottom: rem(20);	
	font-family: $font-primary;
	color: $color-grey-dark;
	font-size: rem(16);
	line-height: rem(21);
}

strong {
	font-weight:400;
}

.underline-dashed {	
	border-bottom: rem(1) dashed $color-grey-dark;
}

.tiny {
	font-size: rem(10);
}

p,
li,
dt,
dd,
.button {
	font-size: rem(16);
}
a, .anchor {
	color: $color-brand;
	@include transition(0.25s color ease);
	&:hover {
		color: darken($color-brand, 10%);
	}
}
.anchor {
	cursor: pointer;
}

.sub-title {
	font-family: $font-secondary;
}

@media all and (min-width: $small) {
	h1 {
		margin-bottom: rem(30);
		font-size: rem(45);
		line-height: rem(55);
	}
	h2 {
		margin-bottom: rem(25);
		font-size: rem(35);
		line-height: rem(45);
	}
	h3 {
		margin-bottom: rem(20);
		font-size: rem(30);
		line-height: rem(35);
	}
	h4 {
		margin-bottom: rem(20);
		font-size: rem(25);
		line-height: rem(30);
	}
	h5 {
		margin-bottom: rem(20);
		font-size: rem(20);
		line-height: rem(25);
	}
	h6 {
		margin-bottom: rem(20);
		font-size: rem(18);
		line-height: rem(23);
	}
	p,
	li,
	dt,
	dd {
		
		font-size: rem(18);
		line-height: rem(23);
	}
	.button {
		margin-bottom: rem(0);
		font-size: rem(18);
		line-height: rem(23);
	}
}

@media all and (min-width: $medium) {
}

@media all and (min-width: $large) {
	h1 {
		font-size: rem(50);
		line-height: rem(60);
	}
	h2 {
		font-size: rem(40);
		line-height: rem(50);
	}
	h3 {
		font-size: rem(35);
		line-height: rem(40);
	}
	h4 {
		font-size: rem(30);
		line-height: rem(35);
	}
	h5 {
		font-size: rem(25);
		line-height: rem(30);
	}
	h6 {
		font-size: rem(23);
		line-height: rem(28);
	}
	
	li,
	dt,
	dd,
	.button {
		font-size: rem(23);
		line-height: rem(28);
	}	
	p {
		font-size: rem(23);
		line-height: rem(35);
	}	
}

@media all and (min-width: $xlarge) {
	
}