// Floats
.left {
	float: left;
}
.right {
	float: right;
}

// Widths
.base-half {
	width: 50%;
}
.base-full {
	width: 100%;
}
.base-third {
	width: 33.33%;
}

@media all and (min-width: $small) {
	.small-third {
		width: 33.33%;
	}
	.small-half {
		width: 50%;
	}
	.small-full {
		width: 100%;
	}
}

@media all and (min-width: $medium) {
	.medium-third {
		width:33.33%;
	}
	.medium-half {
		width: 50%;
	}
	.medium-full {
		width: 100%;
	}
}

@media all and (min-width: $large) {
	.large-third {
		width: 33.33%;
	}
	.large-half {
		width: 50%;
	}
	.large-full {
		width: 100%;
	}
}

@media all and (min-width: $xlarge) {
	.xlarge-third {
		width: 33.33%;
	}
	.xlarge-half {
		width: 50%;
	}
	.xlarge-full {
		width: 100%;
	}
}