// Mixins

@mixin clear-fix {
	float: left;
	clear: both;
	width: 100%;
}

// Functions

@function rem ($pixels) {
	@if $stylesheet == "ie" {
		@return $pixels + px;
	}
	@else {
		@return ($pixels / 16) + rem;
	}
}

@mixin font-sizer($font-size, $line-height, $margin-bottom) {
	font-size: rem($font-size);
	line-height: rem($line-height);
	@if $line-height > $font-size {
		margin-bottom: rem($margin-bottom - ($line-height - $font-size)/2);
	} @else {
		margin-bottom: rem($margin-bottom);
	}
}