@mixin clear-fix {
	float: left;
	clear: both;
	width: 100%;
}

@mixin font-sizer($font-size, $line-height, $margin-bottom) {
	font-size: rem($font-size);
	line-height: rem($line-height);
	@if $line-height > $font-size {
		margin-bottom: rem($margin-bottom - ($line-height - $font-size)/2);
	} @else {
		margin-bottom: rem($margin-bottom);
	}
}

@mixin breakpoint($min-width, $breakpoint)  {
	@if $stylesheet != "ie" and $breakpoint > 1 {
		@media screen and (min-width: $min-width) {
			@content;
		}
	} @else {
		@content;
	}
}