// Mixins

@mixin font-size ($pixels) {
	@if $stylesheet == "ie" {
		font-size: $pixels + px;
	}
	@else {
		font-size: ($pixels / 16) + rem;
	}
}

@mixin clear-fix {
	float: left;
	clear: both;
	width: 100%;
}

// Functions

@function rem ($pixels) {
	@if $stylesheet == "ie" {
		@return $pixels + px;
	}
	@else {
		@return ($pixels / 16) + rem;
	}
}