// Breakpoints
$small: 30.063em;    // Above 320px
$medium: 33.813em;   // Above 480px
$large: 48em;        // Above 767px
$xlarge: 64em;       // Above 1024px

// Colors
$color-brand: #6060A8;
$color-secondary: darken($color-brand, 10%);
$color-grey: #CCCCCC;
$color-grey-dark: #333333;
$color-grey-light: #F1F1F1;
$color-white: #FFFFFF;
$color-red: #E06B69;
$color-green: #34BE55;

// Spacing
$spacing: rem(20);
$spacing-large: rem(30);
$spacing-small: rem(10);

// Fonts
$font-primary: Helvetica, Quicksand, "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-secondary: Verdana, "Helvetica Neue", Helvetica, Arial, sans-serif;