body.landing-page {

	background:url('../images/new-bg.jpg') no-repeat center rem(68);
	.strip {
		margin-top:rem(450);
		+ .strip {
			margin-top:0;
		}
	}
}

.hero-container {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	z-index:-1;
	

	@include background-size(cover);
	@include clear-fix;

	height: rem(500);
}

.hero-text-container {
	width:100%;
	display:table;
	top:0;
	height: rem(750);

}


.hero-text {
	text-align:center;
	display:table-cell;
	vertical-align:middle;


	
	p {
		color: $color-brand;
		font-size: rem(52);
		padding: rem(30) rem(20);
		line-height: rem(52);
		background-color:$color-white;
		@include box-shadow(0px 0px 30px 0px rgba(0, 0, 0, 1));
	}
}