.movie {
	position: relative;
	overflow: hidden;
}
.movie-thumbnail {
	margin:0;
	display:block;

}
.movie-information {
	width:100%;
	opacity:0;
	position:absolute;
	bottom:0;
	@include transition(.25s opacity ease, .25s padding ease, .25s height ease);	
}
.movie-information-hidden-red {
	width:100%;
	opacity:0;
	position:absolute;
}
.movie-information-hidden-brand {
	width:100%;
	opacity:0;
	position:absolute;
}
.movie-information-active {
	position:absolute;
	left:0;
	width:100%;
	background-color: rgba($color-green, 0.8);
	color:#FFFFFF;
	height:100%;
	z-index:1;
	padding-top:72%;
	text-align:center;
	opacity:1;	

}
.movie-information-red {
	position:absolute;
	left:0;
	width:100%;
	background-color: rgba($color-red, 0.8);
	color:#FFFFFF;
	bottom:0;
	height:100%;
	padding-top:72%;
	text-align:center;
	opacity:1;	
}
.movie-information-brand {
	position:absolute;
	left:0;
	width:100%;
	background-color: rgba($color-brand, 0.8);
	color:#FFFFFF;
	bottom:0;
	height:100%;
	padding-top:72%;
	text-align:center;
	opacity:1;	
}
.movie-information h4 {
	color:#FFFFFF !important;
}

.movie-container {
	position:relative;
	
}

.movie-name {
	position:absolute;
	left:0;
	width:100%;
	padding:rem(10);
	background-color: rgba($color-brand, 0.8);
	color:#FFFFFF;
	bottom:0;

}

@media all and (min-width: $small) {
	

}

@media all and (min-width: $medium) {
	
}

@media all and (min-width: $large) {
	.movie {
		
	}
	.movie-thumbnail {
		width: 100%;
		margin: 0 0 0 0;
	}
	

	
}

@media all and (min-width: $xlarge) {
}