.movie {
	position: relative;
	overflow: hidden;
}
.movie-thumbnail {
	margin:0;
	display:block;

}
.movie-information {
	position: absolute;
	bottom: rem(60);
	left: 0;
	width: 100%;
	padding: rem(20);
	background-color: rgba($color-grey-dark, 0.7);
	@include transform(translateY(100%));
	@include transition(.5s all ease);
	&.is-active {
		bottom: 0;
		background-color: rgba($color-black, 0.9);
		@include transform(translateY(0));
	}
	dt, dd {
		color: $color-white;	
	}
	a, .anchor {
		color: $color-grey;
		&:hover {
			color: $color-brand;
		}
	}
}

.movie-container {
	position:relative;
}

.movie-name {
	position:absolute;
	left:0;
	width:100%;
	padding:rem(10);
	background-color: rgba($color-brand, 0.8);
	color:#FFFFFF;
	bottom:0;

}

@media all and (min-width: $small) {
	

}

@media all and (min-width: $medium) {
	
}

@media all and (min-width: $large) {
	.movie {
		
	}
	.movie-thumbnail {
		width: 100%;
		margin: 0 0 0 0;
	}
	.movie-information {
		position: static;
		bottom: auto;
		left: auto;
		width: 100%;
		padding: rem(20) rem(20) rem(20) 0;
		background-color: transparent;
		@include transform(translateY(0));
		&.is-active {
			background-color: transparent;
		}
	}

	
}

@media all and (min-width: $xlarge) {
}