.movie {
	position: relative;
	overflow: hidden;
}
.movie-thumbnail {

}
.movie-information {
	padding:10px;
	position: absolute;
	bottom: rem(60);
	left: 0;
	width: 100%;
	background-color: rgba($color-grey-dark, 0.7);
	@include transform(translateY(100%));
	@include transition(.5s all ease);
	&.is-active {
		bottom: 0;
		@include transform(translateY(0));
	}
}