.site-footer {
	bottom:0;
	position:fixed;
	@include clear-fix;
	margin: rem(40) 0 0 0;
	padding: rem(10) 0;
	background-color: $color-brand;
	h1 { 
		a {
			color: $color-white;
			&:hover {
				color: $color-grey;
			}
		}
	}
	p {
		font-size:14px;
		color: $color-white;
	}
}



@media all and (min-width: $small) {

}

@media all and (min-width: $medium) {
	
}

@media all and (min-width: $large) {
	.site-footer {
	}
}

@media all and (min-width: $xlarge) {
	
}