.site-navigation {
	ul {
		display: none;
		li {
			padding: 0;
			a {
				color: $color-white;
				&:hover {
					color: $color-grey;
				}
			}
			&.is-active {
				a {
					color: $color-grey-dark;
				}
			}
		}
	}
	input[type=search] {
		max-width: rem(200);
		padding: rem(10);
		line-height: rem(25);
	}
}
.site-navigation-toggle {
	float: right;
	padding: 0 rem(15);
	font-size: rem(20);
	line-height: rem(30);
	color: $color-white;
	@include transition(.25s color ease);
	&:hover {
		color: $color-grey;
	}
}

@media all and (min-width: $small) {
	.site-navigation {
		ul {
			li {
			}
		}
		input[type=search] {
			line-height: rem(33);
		}
	}
	.site-navigation-toggle {
		line-height: rem(45);			
	}
}

@media all and (min-width: $medium) {
	.site-navigation {
	}	
	.site-navigation-toggle {
		line-height: rem(50);	
	}
}

@media all and (min-width: $large) {
	.site-navigation {
		float: right;
		ul {
			display: block;
		}
		input[type=search] {
			line-height: rem(39);
		}
	}
	.site-navigation-toggle {
		float: left;
		line-height: rem(55);
	}
}

@media all and (min-width: $xlarge) {
	.site-navigation {
		input[type=search] {
			line-height: rem(45);
		}
	}	
}