.site-navigation {
	ul {
		position: fixed;
		top: rem(64);
		left: 0;
		width: 100%;
		display: none;
		padding: 0;
		background-color: $color-grey-dark;
		li {
			width: 100%;
			padding-bottom: 0;
			margin-right: 0;
			a {
				color: $color-white;
				padding: rem(16) rem(20);
				display: block;
				@include transition(.25s background-color ease);
				&:hover {
					background-color: $color-secondary;
				}
			}
			&.is-active {
				a {
					color: $color-grey-dark;
				}
			}
			.button {
				width: 100%;
			}

		}
	}
	input[type=search] {
		max-width: rem(200);
		padding: rem(10);
	}
}
.site-navigation-toggle {
	float: right;
	padding: rem(14);
	font-size: rem(20);
	color: $color-white;
	@include transition(.25s color ease);
	span {
		display: block;
		line-height: rem(10);
	}
	&:hover {
		color: $color-grey;
	}
}

@media all and (min-width: $small) {
	.site-navigation {
		ul {
			li {
			}
		}
		input[type=search] {
		}
	}
	.site-navigation-toggle {		
	}
}

@media all and (min-width: $medium) {
	.site-navigation {
	}	
	.site-navigation-toggle {
	}
}

@media all and (min-width: $large) {
	.site-navigation {
		float: right;
		ul {
			display: block !important;
			position: static;
			top: auto;
			left: auto;
			background-color: transparent;
			li {
				width: auto;
				.button {
					width: auto;
				}
			}
		}
		input[type=search] {
		}
	}
	.site-navigation-toggle {
		float: left;
	}
}

@media all and (min-width: $xlarge) {
	.site-navigation {
		input[type=search] {
		}
	}	
}