.site-header {
	@include clear-fix;
	position:fixed;
	z-index: 10;
	background-color: $color-brand;
	@include box-shadow(0 rem(1) rem(10) 0 rgba(0, 0, 0, 0.50));
	h1 { 
		line-height: rem(60);
		font-size: rem(30);
		margin-bottom:0;
		a {
			color: $color-white;
			&:hover {
				color: $color-grey;
			}
		}
	}

}

@media all and (min-width: $small) {

}

@media all and (min-width: $medium) {
	
}

@media all and (min-width: $large) {
	.site-header {
	}
}

@media all and (min-width: $xlarge) {
	
}