.strip {

	@include clear-fix;
	padding: rem(40) 0;

	&.grey {
		background-color: $color-grey-light;
	}
	&.brand {
		background-color: $color-brand;		
	}
	&.white {
		background-color: $color-white;		
	}
}

.fade {
	background: transparent url(../images/fade.png) repeat top left;
	padding:0 !important; 
	height: rem(289);
	img {
		display: block;
		height:auto;
	}
}
